Repository CrowdStrike/falconjs, pull requests merged in 2024-09, with the labels that each got.

#219 ci: update existing sanity_check workflow
  .github/workflows/sanity_check.yaml
Labels: github_actions

#218 ci: adds new release workflow to publish to npm
  .github/workflows/release.yml
Labels: github_actions

#216 fix: resources capitalization in spec
  specs/transformation.sed
  src/models/AlertsContainerAlertsCountValue.ts
  src/models/CommonCountResponse.ts
  src/models/DetectionsApiAssessmentDetections.ts
  src/models/DetectionsApiCombinedDetections.ts
  src/models/DetectionsApiDetectionsCount.ts
  src/models/DriftindicatorsDriftIndicatorsCountValue.ts
  src/models/DriftindicatorsDriftIndicatorsFieldValue.ts
  src/models/K8siomsKubernetesIOMCountValue.ts
  src/models/K8siomsKubernetesIOMFieldValue.ts
  src/models/ModelsPolicyEntityResponse.ts
  src/models/ModelsPolicyExclusionEntityResponse.ts
  src/models/ModelsPolicyGroupEntityResponse.ts
  src/models/PackagesApiPackagesByVulnCount.ts
  src/models/UnidentifiedcontainersUnidentifiedContainersCountValue.ts
Labels: bugfix

#220 chore: bump v0.4.0
  package-lock.json
  package.json
Labels: release
